/* :ROOT */
:root {
  --primaryFont: "Poppins", sans-serif;
  /* --primaryFont: 'Montserrat', sans-serif; */
  /* --primaryFont: 'Raleway', sans-serif; */
  --backgroundColor: #202324;
  --scrollbarBackground: #202324;
  --scrollbarThumbBackground: #454a4d;
  --scrollbarThumbBackgroundHover: #454a4d;
  --scrollbarThumbBackgroundActive: #454a4d;
}

body {
  background-color: var(--backgroundColor);
}

/* scrollBar */

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbarBackground);
}

/* ::-webkit-scrollbar-button {
  display: block;
  background-color: scrollbarThumbBackground;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg");
}

::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg");
} */

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbBackground);
  border-radius: 10px;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbarThumbBackgroundHover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbarThumbBackgroundActive);
}
